<div class="page-header">
    <h1>{{pageTitle}}</h1>
</div>
<div class="row">
    <div class="span12">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Date</label>
                <div class="controls">
                    <input type="text" 
                        data-datepicker-popup="yyyy/MM/dd" 
                        data-ng-model="match.date" 
                        data-is-open="opened" 
                        data-min="minDate" 
                        data-max="'2015-06-22'" 
                        data-ng-required="true" 
                        data-close-text="Close" />

                    <div data-ng-model="match.date" 
                         data-ng-change="changed()" >
                        <timepicker 
                            hour-step="1" 
                            minute-step="15" 
                            show-meridian="false">
                        </timepicker>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Game</label>
                <div class="controls">
                    <select 
                        data-ng-model="selectedCategory" 
                        data-ng-change="categoryChanged()"
                        data-ng-options="category as category.title for category in categories" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">My competitors</label>
                <div class="controls">
                    <select 
                        data-ng-model="selectedCompetitor" 
                        data-ng-change="competitorChanged()"
                        data-ng-options="competitor as competitor.name for competitor in myCompetitors" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Games</label>
                <div class="controls" data-ng-repeat="game in games">
                    <label>
                        <input 
                            type="radio"
                            name="radioGames" 
                            value="game.gameid" 
                            data-ng-checked="selectedGame.gameID == game.gameID"
                            data-ng-click="toggleGame(game)"/> 
                        {{game.game.title}} 
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Competition type</label>
                <div class="controls">
                    <select 
                        data-ng-model="match.competitionTypeID" 
                        data-ng-change="competitionTypeChanged()"
                        data-ng-options="competitionType.competitionType.competitionTypeID as competitionType | competitiontypefull for competitionType in availableCometitionTypes" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <span data-ng-show="team.players.length > 0">
                        Competitors
                    </span>
                    <table class="table">
                        <tr data-ng-repeat="competitorScore in competitorScores">
                            <td data-ng-bind="competitorScore.competitor.name"></td>
                            <td>
                                <input 
                                    class="input-small"
                                    type="text" 
                                    data-ng-model="competitorScore.score" />
                            </td>
                            <td>
                                <button class="btn btn-primary" 
                                    data-ng-show="competitorScore.competitor.competitorID != selectedCompetitor.competitorID"
                                    data-ng-click="removeCompetitor($index)">remove</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" data-ng-model="searchQuery" placeholder="Search players">
                    <button class="btn" data-ng-disabled="!selectedGame.gameID" data-ng-click="searchPlayers()">Search</button>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <span data-ng-show="availablePlayers.length > 0">Results
                    </span>
                    <table class="table">
                        <tr data-ng-repeat="competitor in availableCompetitors">
                            <td data-ng-bind="competitor.name"></td>
                            <td>
                                <button class="btn btn-primary" data-ng-click="addCompetitor(competitor, $index)">add</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn" data-ng-click="addMatch()">Save</button>
                    <button class="btn" data-ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </form>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    
    <div class="span12">
        match
        <pre>{{match | json}}</pre>
        selected competitor
        <pre>{{selectedCompetitor | json}}</pre>
        selected game
        <pre>{{selectedGame | json}}</pre>

    </div>
</div>
