<div class="page-header">
    <h1>{{pageTitle}}</h1>
</div>

<div class="row">
    <tabset>
        <tab heading="My info">    
            <div class="span6">
                <h3>Profile picture</h3>
                <image-upload 
                    data-img-src="profile.profilePictureUrl"
                    data-upload-url="api/user/uploadprofilepicture"
                    data-crop-url="api/user/cropprofilepicture"
                    data-on-image-cropped="onImageCropped(data);"/>
            </div>
            

            <div class="span6">
            <h3>My info</h3>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">First name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="profile.firstName" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Last name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="profile.lastName" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn" data-ng-click="updateProfile()">update</button>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab heading="My pleya's">
            <div class="span12">
                    <h3>My pleya's</h3>
                    <table class="table">
                        <tr>
                            <th>
                                Game
                            </th>
                            <th>
                                Player nick
                            </th>
                            <th>Creation date</th>
                            <th></th>
                        </tr>
                        <tr data-ng-repeat="player in players">
                            <td>
                                <a href="javascript:;" 
                                    data-ui-sref="game-category-details({id: player.games[0].game.gameCategoryID})" 
                                    data-ng-bind="player.games[0].game.category.title"></a>
                            </td>
                            <td>
                                <a href="javascript:;" 
                                    data-ui-sref="player-profile({id: player.competitorID})" 
                                    data-ng-bind="player.name"></a>
                            </td>
                            <td data-ng-bind="player.creationDate | date:'yyyy-MM-dd HH:mm:ss'"></td>
                            <td>
                                <button class="btn btn-primary" data-ng-click="deleteCompetitor(player, players, $index, playerAlerts);">delete</button>
                            </td>
                        </tr>
                     </table>
                    <a data-ui-sref="player-add">add player</a>
                    <alert ng-repeat="alert in playerAlerts" type="alert.type" close="closeAlert(playerAlerts, $index)">{{alert.msg}}</alert>
            </div>
        </tab>
        <tab heading="My teams">
            <div class="span12">
                <h3>My teams</h3>
                <table class="table">
                    <tr>
                        <th>
                            Game
                        </th>
                        <th>
                            Team nick
                        </th>
                        <th>Creation date</th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="team in teams">
                        <td>
                            <a href="javascript:;" 
                                data-ui-sref="game-category-details({id: team.games[0].game.gameCategoryID})" 
                                data-ng-bind="team.games[0].game.category.title"></a>
                        </td>
                        <td>
                            <a href="javascript:;" 
                                data-ui-sref="team-profile({id: team.competitorID})" 
                                data-ng-bind="team.name"></a>
                        </td>
                        <td data-ng-bind="team.creationDate | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td>
                            <button class="btn btn-primary" data-ng-click="deleteCompetitor(team, teams, $index, teamAlerts);">delete</button>
                        </td>
                    </tr>
                 </table>
                <a data-ui-sref="team-add">add team</a>
                <alert ng-repeat="alert in teamAlerts" type="alert.type" close="closeAlert(teamAlerts, $index)">{{alert.msg}}</alert>
            </div>
        </tab>
        <tab heading="My matches">
        <div class="span12">
            <h3>My matches</h3>
            <matches 
                resource-url="api/user/matches"
                items-per-page="5"
                show-status-col="true"
                show-confirm-button="true"/>
            <a data-ui-sref="match-add">add match</a>
        </div>
        </tab>
        <tab heading="My automatic confirmations">
            <h3>My automatic confirmations</h3>
            <table class="table">
                <tr>
                    <th>
                        User
                    </th>
                    <th>

                    </th>
                </tr>
                <tr data-ng-repeat="confirmation in automaticMatchConfirmations">
                    <td>
                        <a href="javascript:;" 
                            data-ui-sref="public-profile({id: confirmation.confirmeeID})" 
                            data-ng-bind="confirmation.confirmee | userfull"></a>
                    </td>
                    <td>
                        <button class="btn btn-primary" data-ng-click="deleteAutomaticConfirmation(confirmation.confirmee, $index)">remove</button>
                    </td>
                </tr>
            </table>
            <div class="add-confirmation-wrapp" >
                <a href="javascript:;" data-ng-click="toggleAddConfirmation(true)" data-ng-hide="addingconfirmation">add confirmation</a>
                <div class="add-confirmation-inner" data-ng-show="addingconfirmation" >
                    <form class="form-inline">
                        <input type="text" data-ng-model="searchQuery" placeholder="Search users">
                        <button class="btn" data-ng-click="searchAutomaticConfirmationUsers()">Search</button>
                        <button class="btn" data-ng-click="toggleAddConfirmation(false)">cancel</button>
                    </form>
                    <span data-ng-show="automaticMatchConfirmationsUsers.length > 0">
                        Results
                    </span>
                    <table class="table">
                        <tr data-ng-repeat="user in automaticMatchConfirmationsUsers">
                            <td>
                                <a href="javascript:;" 
                                    data-ui-sref="public-profile({id: user.userID})" 
                                    data-ng-bind="user | userfull"></a>
                            </td>
                            <td>
                                <button class="btn btn-primary" data-ng-click="addAutomaticConfirmation(user, $index)">add</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </tab>
    </tabset>
</div>
