<div class="page-header">
    <h1>{{pageTitle}}</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <google-map center="map.center" zoom="map.zoom" draggable="true"></google-map>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Last Matches ({{matches.length}} of: {{totalMatches}})</h3>
        <table class="table">
            <tr>
                <th>
                    Game
                </th>
                <th>
                    Date
                </th>
                <th>
                    Competitor
                </th>
                <th>
                    Score
                </th>
            </tr>
            <tbody data-ng-repeat="match in matches">
                <tr data-ng-repeat="score in match.scores">
                    <td>
                        <div class="img-holder"
                            data-ng-show="$index == 0" >
                            <a href="javascript:;" 
                                data-ui-sref="game-details.info({id: match.gameID})">
                                <img data-ng-src="{{match.game.pictureUrl}}" alt="" />
                            </a>
                        </div>
                        &nbsp;
                        <a href="javascript:;" 
                            data-ui-sref="game-details.info({id: match.gameID})" 
                            data-ng-show="$index == 0" 
                            data-ng-bind="match.game.title"></a>
                    </td>
                    <td>
                        {{$index == 0 ? match.date : '' | date:'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td data-ng-class="{winner : score.competitorID == match.winnerID}">
                        <div class="img-holder"
                            data-ng-show="score.competitor.competitorType == 0" >
                            <a href="javascript:;" 
                                data-ui-sref="player-profile.info({id: score.competitor.competitorID})">
                                <img data-ng-src="{{score.competitor.pictureUrl}}" alt="" />
                            </a>
                        </div>
                        &nbsp;
                        <a href="javascript:;" 
                            data-ui-sref="player-profile.info({id: score.competitor.competitorID})" 
                            data-ng-show="score.competitor.competitorType == 0" 
                            data-ng-bind="score.competitor.name">
                        </a>
                        <div class="img-holder"
                            data-ng-show="score.competitor.competitorType == 1" >
                            <a href="javascript:;" 
                                data-ui-sref="team-profile.info({id: score.competitor.competitorID})">
                                <img data-ng-src="{{score.competitor.pictureUrl}}" alt="" />
                            </a>
                        </div>
                        &nbsp;
                        <a href="javascript:;" 
                            data-ui-sref="team-profile.info({id: score.competitor.competitorID})" 
                            data-ng-show="score.competitor.competitorType == 1" 
                            data-ng-bind="score.competitor.name"></a>
                    </td>
                    <td>
                        {{score.score}}
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <a href="javascript:;" data-ui-sref="match-list">More matches</a>
        </p>
    </div>
    <div class="col-sm-6">
        <h3>Last Competitors ({{competitors.length}} of: {{totalCompetitors}})</h3>
        <table class="table">
            <tr>
                <th>
                    Game category
                </th>
                <th>
                    Player nick
                </th>
                <th>Creation date</th>
            </tr>
            <tr data-ng-repeat="competitor in competitors">
                <td>
                    <div class="img-holder">
                        <a href="javascript:;" data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})">
                            <img data-ng-src="{{competitor.games[0].game.category.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})" 
                        data-ng-bind="competitor.games[0].game.category.title"></a>
                </td>
                <td>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 0" >
                        <a href="javascript:;" 
                            data-ui-sref="player-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="player-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 0" 
                        data-ng-bind="competitor.name">
                    </a>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 1" >
                        <a href="javascript:;" 
                            data-ui-sref="team-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="team-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 1" 
                        data-ng-bind="competitor.name">
                    </a>
                </td>
                <td data-ng-bind="competitor.creationDate | date:'yyyy-MM-dd HH:mm:ss'"></td>
            </tr>
            </table>
        <p>
            <a href="javascript:;" data-ui-sref="competitors-list">More players</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Hall of fame</h3>
        <table class="table">
            <tr>
                <th>
                    Game category
                </th>
                <th>
                    Competitor
                </th>
            </tr>
            <tr data-ng-repeat="competitor in hallOfFame">
                <td>
                    <div class="img-holder">
                        <a href="javascript:;" data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})">
                            <img data-ng-src="{{competitor.games[0].game.category.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})" 
                        data-ng-bind="competitor.games[0].game.category.title"></a>
                </td>
                <td>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 0" >
                        <a href="javascript:;" 
                            data-ui-sref="player-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="player-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 0" 
                        data-ng-bind="competitor.name">
                    </a>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 1" >
                        <a href="javascript:;" 
                            data-ui-sref="team-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="team-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 1" 
                        data-ng-bind="competitor.name">
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Hall of shame</h3>
        <table class="table">
            <tr>
                <th>
                    Game category
                </th>
                <th>
                    Competitor
                </th>
            </tr>
            <tr data-ng-repeat="competitor in hallOfShame">
                <td>
                    <div class="img-holder">
                        <a href="javascript:;" data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})">
                            <img data-ng-src="{{competitor.games[0].game.category.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})" 
                        data-ng-bind="competitor.games[0].game.category.title"></a>
                </td>
                <td>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 0" >
                        <a href="javascript:;" 
                            data-ui-sref="player-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="player-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 0" 
                        data-ng-bind="competitor.name">
                    </a>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 1" >
                        <a href="javascript:;" 
                            data-ui-sref="team-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="team-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 1" 
                        data-ng-bind="competitor.name">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
