<div class="page-header">
    <h1>{{pageTitle}}</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <google-map 
            bounds="map.bounds"
            center="map.center" 
            zoom="map.zoom" 
            events="map.events"
            control="map.control"
            draggable="true">
        <markers models="map.playgroundMarkers" coords="'self'" icon="'icon'" click="'onClicked'">
            <windows show="'showWindow'"  ng-cloak>
                <p ng-non-bindable>{{title}}</p>
                <p ng-non-bindable>{{address}}!</p>
            </windows>
        </markers>
        </google-map>
    </div>
</div>
 <hr />
<div class="row">
    <div class="col-sm-2">
        <h5>Total playgrounds: {{stats.totalPlaygrounds}} </h5>
    </div>
    <div class="col-sm-2">
        <h5>Total games {{stats.totalGames}}</h5>
    </div>
    <div class="col-sm-2">
        <h5>Total users {{stats.totalUsers}}</h5>
    </div>
    <div class="col-sm-2">
        <h5>Total players {{stats.totalPlayers}}</h5>
    </div>
    <div class="col-sm-2">
        <h5>Total matches {{stats.totalMatches}}</h5>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="searchinput">Search</label>
                <input type="text" class="form-control" id="searchinput" placeholder="Search" data-ng-model="search">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" 
                        data-ng-model="localSearch" 
                        data-ng-click="localSearch = !localSearch">
                    Current map
                </label>
            </div>
            <button type="submit" class="btn btn-default" data-ng-click="searchPlaygrounds()">
                <span class="glyphicon glyphicon-search"></span> 
            </button>
        </form>
    </div>
</div>
<hr />
<div class="row" data-ng-show="playgrounds.items.length > 0">
    <div class="col-sm-6">
        <h3>Results</h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
            <tr data-ng-repeat="playground in playgrounds.items">
                <td>
                    <a href="javascript:;" data-ng-click="onPlaygroundClick(playground)">{{playground.name}}</a>
                </td>
                <td>
                    <a href="javascript:;">{{playground.address}}</a>
                </td>
            </tr>
        </table>

        <pagination
            data-ng-show="playgrounds.totalPages > 1"
            total-items="playgrounds.totalItems"
            page="playgrounds.currentPage"
            num-page="playgrounds.totalPages"
            items-per-page="5"
            on-select-page="onPlaygroundPageSelect(page)">
        </pagination>
</div>

<!--<div class="row">
    <div class="col-sm-6">
        <h3>Last Matches ({{matches.length}} of: {{totalMatches}})</h3>
        <table class="table">
            <tr>
                <th>
                    Game
                </th>
                <th>
                    Date
                </th>
                <th>
                    Competitor
                </th>
                <th>
                    Score
                </th>
            </tr>
            <tbody data-ng-repeat="match in matches">
                <tr data-ng-repeat="score in match.scores">
                    <td>
                        <div class="img-holder"
                            data-ng-show="$index == 0" >
                            <a href="javascript:;" 
                                data-ui-sref="game-details.info({id: match.gameID})">
                                <img data-ng-src="{{match.game.pictureUrl}}" alt="" />
                            </a>
                        </div>
                        &nbsp;
                        <a href="javascript:;" 
                            data-ui-sref="game-details.info({id: match.gameID})" 
                            data-ng-show="$index == 0" 
                            data-ng-bind="match.game.title"></a>
                    </td>
                    <td>
                        {{$index == 0 ? match.date : '' | date:'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td data-ng-class="{winner : score.competitorID == match.winnerID}">
                        <div class="img-holder"
                            data-ng-show="score.competitor.competitorType == 0" >
                            <a href="javascript:;" 
                                data-ui-sref="player-profile.info({id: score.competitor.competitorID})">
                                <img data-ng-src="{{score.competitor.pictureUrl}}" alt="" />
                            </a>
                        </div>
                        &nbsp;
                        <a href="javascript:;" 
                            data-ui-sref="player-profile.info({id: score.competitor.competitorID})" 
                            data-ng-show="score.competitor.competitorType == 0" 
                            data-ng-bind="score.competitor.name">
                        </a>
                        <div class="img-holder"
                            data-ng-show="score.competitor.competitorType == 1" >
                            <a href="javascript:;" 
                                data-ui-sref="team-profile.info({id: score.competitor.competitorID})">
                                <img data-ng-src="{{score.competitor.pictureUrl}}" alt="" />
                            </a>
                        </div>
                        &nbsp;
                        <a href="javascript:;" 
                            data-ui-sref="team-profile.info({id: score.competitor.competitorID})" 
                            data-ng-show="score.competitor.competitorType == 1" 
                            data-ng-bind="score.competitor.name"></a>
                    </td>
                    <td>
                        {{score.score}}
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <a href="javascript:;" data-ui-sref="match-list">More matches</a>
        </p>
    </div>
    <div class="col-sm-6">
        <h3>Last Competitors ({{competitors.length}} of: {{totalCompetitors}})</h3>
        <table class="table">
            <tr>
                <th>
                    Game category
                </th>
                <th>
                    Player nick
                </th>
                <th>Creation date</th>
            </tr>
            <tr data-ng-repeat="competitor in competitors">
                <td>
                    <div class="img-holder">
                        <a href="javascript:;" data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})">
                            <img data-ng-src="{{competitor.games[0].game.category.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})" 
                        data-ng-bind="competitor.games[0].game.category.title"></a>
                </td>
                <td>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 0" >
                        <a href="javascript:;" 
                            data-ui-sref="player-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="player-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 0" 
                        data-ng-bind="competitor.name">
                    </a>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 1" >
                        <a href="javascript:;" 
                            data-ui-sref="team-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="team-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 1" 
                        data-ng-bind="competitor.name">
                    </a>
                </td>
                <td data-ng-bind="competitor.creationDate | date:'yyyy-MM-dd HH:mm:ss'"></td>
            </tr>
            </table>
        <p>
            <a href="javascript:;" data-ui-sref="competitors-list">More players</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Hall of fame</h3>
        <table class="table">
            <tr>
                <th>
                    Game category
                </th>
                <th>
                    Competitor
                </th>
                <th>
                    Victories
                </th>
            </tr>
            <tr data-ng-repeat="competitor in hallOfFame">
                <td>
                    <div class="img-holder">
                        <a href="javascript:;" data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})">
                            <img data-ng-src="{{competitor.games[0].game.category.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})" 
                        data-ng-bind="competitor.games[0].game.category.title"></a>
                </td>
                <td>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 0" >
                        <a href="javascript:;" 
                            data-ui-sref="player-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="player-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 0" 
                        data-ng-bind="competitor.name">
                    </a>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 1" >
                        <a href="javascript:;" 
                            data-ui-sref="team-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="team-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 1" 
                        data-ng-bind="competitor.name">
                    </a>
                </td>
                <td>
                    {{competitor.victoriesCount}}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Hall of shame</h3>
        <table class="table">
            <tr>
                <th>
                    Game category
                </th>
                <th>
                    Competitor
                </th>
                <th>
                    Victories
                </th>
            </tr>
            <tr data-ng-repeat="competitor in hallOfShame">
                <td>
                    <div class="img-holder">
                        <a href="javascript:;" data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})">
                            <img data-ng-src="{{competitor.games[0].game.category.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="game-category-details.info({id: competitor.games[0].game.gameCategoryID})" 
                        data-ng-bind="competitor.games[0].game.category.title"></a>
                </td>
                <td>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 0" >
                        <a href="javascript:;" 
                            data-ui-sref="player-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="player-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 0" 
                        data-ng-bind="competitor.name">
                    </a>
                    <div class="img-holder"
                        data-ng-show="competitor.competitorType == 1" >
                        <a href="javascript:;" 
                            data-ui-sref="team-profile.info({id: competitor.competitorID})">
                            <img data-ng-src="{{competitor.pictureUrl}}" alt="" />
                        </a>
                    </div>
                    &nbsp;
                    <a href="javascript:;" 
                        data-ui-sref="team-profile.info({id: competitor.competitorID})" 
                        data-ng-show="competitor.competitorType == 1" 
                        data-ng-bind="competitor.name">
                    </a>
                </td>
                <td>
                    {{competitor.victoriesCount}}
                </td>
            </tr>
        </table>
    </div>-->
</div>
