<div class="page-header">
    <h1>{{pageTitle}}</h1>
</div>

<div class="row" data-ng-repeat="gameCategory in gameCategories">
    <div class="span12">
        <a href="javascript:;" data-ui-sref="game-category-edit({id: gameCategory.gameCategoryID })">
            <img data-ng-src="{{gameCategory.pictureUrl}}" alt="" style="height:30px; width:30px;"/>
        </a>
        <h3><a data-ui-sref="game-category-details({id: gameCategory.gameCategoryID })" href="javascript:;">{{gameCategory.title}}</a>
        <a class="btn btn-primary" href="javascript:;" data-ng-click="deleteCategory(gameCategory, $index);">delete</a>
        </h3>
        <table class="table">
            <tr data-ng-repeat="game in gameCategory.games">
                <td>
                    <div class="img-holder">
                        <a href="javascript:;" data-ui-sref="game-edit({id: game.gameID})">
                            <img data-ng-src="{{game.pictureUrl}}" alt="" />
                        </a>
                    </div>
                </td>
                <td>
                    <a data-ui-sref="game-details({id: game.gameID})">{{game.title}}</a>
                </td>
                <td>
                    <button class="btn btn-primary" data-ng-click="deleteGame(game, gameCategory.games, $index);">delete</button>
                </td>
            </tr>
        </table>
        <div class="add-game-wrapp" data-ng-controller="ListGameController">
            <form class="form-inline" data-ng-show="addinggame">
                <label>Title</label>
                <input type="text" placeholder="Title" data-ng-model="newGame.title" />
                <button class="btn" data-ng-click="addGame(gameCategory)">save</button>
                <button class="btn" data-ng-click="toggleAddGame(false)">cancel</button>
            </form>
            <a href="javascript:;" data-ng-click="toggleAddGame(true)" data-ng-hide="addinggame">add game</a>
        </div>
        <br />
    </div>
</div>
<hr />
<div class="row">
    <form class="form-inline" data-ng-show="addingcategory">
        <label>Title</label>
        <input type="text" placeholder="Category title" data-ng-model="newCategory.title" />
        <button class="btn" data-ng-click="addCategory()">save</button>
        <button class="btn" data-ng-click="toggleAddCategory(false)">cancel</button>
    </form>
    <a href="javascript:;" data-ng-click="toggleAddCategory(true)" data-ng-hide="addinggame">add category</a>
</div>

