<div class="page-header">
    <div class="wrapper">
        <h1>{{game.category.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="logo">logo</label>
                <div class="controls">
                    <input id="logo" type="image" src="content/assets/img/content/mitar-miric.png" alt="" style="width: 50px; height: 50px;" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input id="title" type="text" data-ng-model="game.title">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Competition tyeps</label>
                <div class="controls" data-ng-repeat="competitionType in availableCompetitionTypes">
                    <label>
                        <input 
                            type="checkbox" 
                            value="competitionType.competitionTypeId" 
                            data-ng-checked="competitionType.checked"
                            data-ng-click="toggleCompetitionType(competitionType)"/> 
                        {{competitionType.name}} {{competitionTypes[competitionType.competitorType]}} ({{competitionType.competitorsCount}})
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn" data-ng-click="updateGame()">Save</button>
                    <a href="javascript:;" class="btn" data-ui-sref="game-categories">back to games</a>
                </div>
            </div>
        </form>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
