@model Playground.Model.Match

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<fieldset>
    <legend>Match</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Game)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.GameID, (List<SelectListItem>)ViewBag.Games)
    </div>

    <p>
        <a href="javascript:;" id="nextbtn">next</a>
    </p>
</fieldset>

@section Scripts {
    <script type="text/javascript">   
        $(function() {
            $(document).on('click', '#nextbtn', function() {
                var gameid = $('#GameID').val();
                if (gameid !== '') {
                    window.location.href = "/Match/Create?GameId=" + gameid;
                }
            });
        });
    </script>    
}

