<div class="page-header">
    <h1>{{pageTitle}}</h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <form name="competitionTypeForm" class="form-horizontal">
            <div class="form-group" data-ng-class="getCssClasses(competitionTypeForm.name)">
                <label class="col-sm-3 control-label">Title</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" data-ng-model="competitionType.name" name="name" data-required="true">
                    <span data-ng-show="showError(competitionTypeForm.name, 'required')" class="help-inline">This field is required</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Comepetitor type</label>
                <div class="col-sm-6">
                    <select 
                        class="form-control"
                        data-ng-model="competitionType.competitorType" 
                        data-ng-options="getKey(k) as v for (k, v) in competitorTypes" />
                </div>
            </div>
            <div data-ng-show="competitionType.competitorType == 1" class="form-group" data-ng-class="getCssClasses(competitionTypeForm.playersPerTeam)">
                <label class="col-sm-3 control-label">Players per team</label>
                <div class="col-sm-6">
                    <input type="number" 
                        class="form-control"
                        name="playersPerTeam"
                        data-ng-model="competitionType.playersPerTeam" 
                        data-condition="competitionType.competitorType == 1"
                        data-minvalue="2"
                        data-maxvalue="20"
                        data-playersperteam="true">
                    <span data-ng-show="showError(competitionTypeForm.playersPerTeam, 'playersperteam')" class="help-inline">
                        The value must be in range from 2 to 20
                    </span>
                </div>
            </div>
            <div class="form-group" data-ng-class="getCssClasses(competitionTypeForm.competitorsCount)">
                <label class="col-sm-3 control-label">Competitors count</label>
                <div class="col-sm-6">
                    <input type="number" 
                        class="form-control"
                        name="competitorsCount"
                        data-ng-model="competitionType.competitorsCount" 
                        data-required="true" 
                        min="1" 
                        max="20" 
                        data-integer="true">
                    <span data-ng-show="showError(competitionTypeForm.competitorsCount, 'required')" class="help-inline">This field is required</span>
                    <span data-ng-show="showError(competitionTypeForm.competitorsCount, 'integer')" class="help-inline">This field is not valid integer</span>
                    <span data-ng-show="competitionTypeForm.competitorsCount.$error.min || competitionTypeForm.competitorsCount.$error.max" class="help-inline">
                        The value must be in range 1 to 20
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button class="btn btn-primary" data-ng-click="addCompetitionType()" data-ng-disabled="!canSave(competitionTypeForm)">Save</button>
                    <button class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </form>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alerts, $index)">{{alert.msg}}</alert>
<!--        <div data-ng-show="settings.debug">
            <pre>{{competitionType | json}}</pre>
            <pre>{{competitionTypeForm.$valid}} | {{competitionTypeForm.$dirty}} | {{canSave(competitionTypeForm)}}</pre>
        </div>-->
    </div>
</div>
