<div class="page-header">
    <h1>{{pageTitle}}</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr data-ng-repeat="gameCategory in gameCategories.items">
                <td>
                    <div class="img-holder">
                        <a href="javascript:;" data-ui-sref="game-category-details.info({id: gameCategory.gameCategoryID })">
                            <img data-ng-src="{{gameCategory.pictureUrl}}" alt="" style="height:30px; width:30px;"/>
                        </a>
                    </div>
                </td>
                <td>
                    <a data-ui-sref="game-category-details.info({id: gameCategory.gameCategoryID })" href="javascript:;">{{gameCategory.title}}</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="javascript:;" data-ui-sref="game-category-edit.info({id: gameCategory.gameCategoryID })">edit</a>
                    <a class="btn btn-primary" href="javascript:;" data-ng-click="deleteCategory(gameCategory);">delete</a>
                </td>
            </tr>
        </table>
        <pagination 
            data-ng-show="gameCategories.totalPages > 1"
            total-items="gameCategories.totalItems" 
            page="gameCategories.currentPage" 
            num-page="gameCategories.totalPages" 
            items-per-page="5" 
            on-select-page="onCategoryPageSelect(page)">
        </pagination>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form name="gameCagegoryForm" class="form-inline" data-ng-show="addingcategory">
            <div class="form-group" data-ng-class="getCssClasses(gameCagegoryForm.title)">
                <label>Title</label>
                <input type="text" 
                    class="form-control"
                    placeholder="Category title" 
                    name="title" 
                    data-ng-model="newCategory.title" 
                    data-required="true"/>
                <span data-ng-show="showError(gameCagegoryForm.title, 'required')" class="help-inline">This field is required</span>
                <button class="btn btn-primary" data-ng-click="addCategory()" data-ng-disabled="!canSave(gameCagegoryForm)">save</button>
                <button class="btn btn-primary" data-ng-click="toggleAddCategory(false)">cancel</button>
            </div>
        </form>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alerts, $index)">{{alert.msg}}</alert>
        <a href="javascript:;" class="btn btn-primary btn-xs" data-ng-click="toggleAddCategory(true)" data-ng-hide="addingcategory">add category</a>
    </div>
</div>