@{
    ViewBag.Title = "Playground";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Play. Compete. Challange. Yourself or anybody else. Make your wins or fails epic, with PLAYGROUND.
            </p>
        </div>
    </section>
}
<h3>Last Playground activities:</h3>
<ol class="round">
    <li>
        <h5>Last matches played</h5>

        @{ Html.RenderAction("LatestMatches", "Match", new { matchesCount = 5 }); }

        <a href="javascript:;">See all matches</a>
    </li>

    <li >
        <h5>Players recently joined</h5>

        @{ Html.RenderAction("LatestCompetitors", "Competitor", new { competitorsCount = 5 }); }
        
        <a href="javascript:;">Sea all players</a>
    </li>

</ol>
    