.img-holder img {
          width: 30px;
          height: 30px;
          display: block;
}
.nav .img-holder img {
    margin-top: 10px;
    
}
td .img-holder {
    float:left;
}

.table td.winner {
    background-color: #D9EDF7;
}