<div class="page-header">
    <h1>{{pageTitle}}</h1>
</div>
<div class="row">
    <ul class="nav nav-tabs">
      <li data-ng-class="{active: tab == 'info'}">
          <a href="javascript:;" data-ui-sref="game-category-details.info">Info</a>
      </li>
      <li data-ng-class="{active: tab == 'games'}">
          <a href="javascript:;" data-ui-sref="game-category-details.games">Games</a>
      </li>
      <li data-ng-class="{active: tab == 'players'}">
          <a href="javascript:;" data-ui-sref="game-category-details.players">Players</a>
      </li>
      <li data-ng-class="{active: tab == 'teams'}">
          <a href="javascript:;" data-ui-sref="game-category-details.teams">Teams</a>
      </li>
      <li data-ng-class="{active: tab == 'matches'}">
          <a href="javascript:;" data-ui-sref="game-category-details.matches">Matches</a>
      </li>
    </ul>
    <div class="row" ui-view="">

    </div>
<!--    <tabset>
        <tab heading="Info">    
            <div class="span12">
                <ul style="list-style:none">
                    <li>
                        <img data-ng-src="{{gameCategoryStats.pictureUrl}}" alt=""/>
                    </li>
                    <li>
                        <h4>Title: {{gameCategoryStats.title}}</h4>
                    </li>
                    <li>
                        <h4>Games: {{gameCategoryStats.totalGames}}</h4>
                    </li>
                    <li>
                        <h4>Competitors: {{gameCategoryStats.totalCompetitors}}</h4>
                    </li>
                    <li>
                        <h4>Matches: {{gameCategoryStats.totalMatches}}</h4>
                    </li>
                </ul>
            </div>
        </tab>
        <tab heading="Games">    
            <div class="span12">
                <h3>Games</h3>
                <games 
                    object-id="gameCategoryID"
                    resource-url="api/gamecategory/games"
                    items-per-page="5"/>

            </div>
        </tab>
        <tab heading="Players">    
            <div class="span12">
                <h3>Players</h3>
                <players 
                    object-id="gameCategoryID"
                    resource-url="api/gamecategory/players"
                    items-per-page="5"/>
            </div>
        </tab>
        <tab heading="Teams">    
            <div class="span12">
                <h3>Teams</h3>
                <teams 
                    object-id="gameCategoryID"
                    resource-url="api/gamecategory/teams"
                    parent-category="game"
                    items-per-page="5"/>
            </div>
        </tab>
        <tab heading="Matches">    
            <div class="span12">
                Matches
                <matches 
                    object-id="gameCategoryID"
                    resource-url="api/gamecategory/matches"
                    items-per-page="5"/>

            </div>
        </tab>
    </tabset>-->
</div>
