<div class="span12">
    <ul style="list-style:none">
        <li>
            <img data-ng-src="{{gameCategoryStats.pictureUrl}}" alt=""/>
        </li>
        <li>
            <h4>Title: {{gameCategoryStats.title}}</h4>
        </li>
        <li>
            <h4>Games: {{gameCategoryStats.totalGames}}</h4>
        </li>
        <li>
            <h4>Competitors: {{gameCategoryStats.totalCompetitors}}</h4>
        </li>
        <li>
            <h4>Matches: {{gameCategoryStats.totalMatches}}</h4>
        </li>
    </ul>
</div>