@{
    ViewBag.Title = "Dashboard";
}
<h2>Dashboard</h2>

@Html.Partial("~/Views/User/_ListUserPartial.cshtml", (List<Playground.Model.User>)ViewBag.AllUsers)
<h2>Players</h2>
@Html.Partial("~/Views/Player/_ListPlayerPartial.cshtml", (List<Playground.Model.Player>)ViewBag.AllPlayers)
<h2>Teams</h2>
@Html.Partial("~/Views/Team/_ListTeamPartial.cshtml", (List<Playground.Model.Team>)ViewBag.AllTeams)
<h2>Matches</h2>
@Html.Partial("~/Views/Match/_ListMatchPartial.cshtml", (List<Playground.Model.Match>)ViewBag.AllMatches)


