<div class="col-sm-6">
    <ul class="profile-list">
        <li>
            <img data-ng-src="{{playerStats.pictureUrl}}" alt="" class="img-rounded" />
        </li>
        <li>
            <h4>User:<a href="javascript:;"
                data-ui-sref="public-profile.info({id: playerStats.user.userID})"
                data-ng-bind="playerStats.user | userfull"></a>
            </h4>
        </li>
        <li>
            <h4>Nick: {{playerStats.name}}</h4>
        </li>
        <li>
            <h4>Game category: {{playerStats.gameCategory.title}}</h4>
        </li>
        <li>
            <h4>Total matches: {{playerStats.totalMatches}}</h4>
        </li>
        <li>
            <h4>Creation date: {{playerStats.creationDate | date: 'dd-MM-yyyy'}}</h4>
        </li>
    </ul>
</div>