<div class="span12">
    <ul style="list-style: none">
        <li>
            <img data-ng-src="{{userStats.pictureUrl}}" alt="" />
        </li>
        <li>
            <h4>Name: {{userStats | userfull}}</h4>
        </li>
        <li>
            <h4>Total game categories: {{userStats.totalGames}}</h4>
        </li>
        <li>
            <h4>Total players: {{userStats.totalPlayers}}</h4>
        </li>
        <li>
            <h4>Total teams: {{userStats.totalTeams}}</h4>
        </li>
        <li>
            <h4>Total matches: {{userStats.totalMatches}}</h4>
        </li>
    </ul>
</div>
