@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0" />

		<title>Playground</title>
		<meta name="description" content="">

		<link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>

        @Styles.Render("~/Content/css")
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
        @Scripts.Render("~/bundles/modernizr")
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
	</head>
    <body data-ng-app="Playground" id="ng-app">     
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="brand" href="https://github.com/doppler85/playground">Playground</a>
                  <div class="nav-collapse in collapse" 
                       style="height: auto;"
                       data-ng-include="'app/menu/main-menu.tpl.html'" 
                       data-ng-controller="MainMenuController">
                  </div><!--/.nav-collapse -->
                </div>
              </div>
            </div>
        <div class="container">
            <!-- #main -->
    	    <section  data-ui-view="">

		    </section>
            <hr />
		    <footer >
			    <p>Playground &#169; 2013-2014</p>
		    </footer>
        </div>

    <!-- SCRIPTS -->    
    <script type="text/javascript" src="app/lib/jQuery/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="app/lib/jQuery/jquery.signalR-2.0.1.js"></script>
    <script type="text/javascript" src="signalr/hubs"></script>
    <script type="text/javascript" src="app/lib/jQuery/jquery.Jcrop.js"></script>
    <script type="text/javascript" src="app/lib/jQuery/jquery.color.js"></script>

    <script type="text/javascript" src="app/lib/angular/angular.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-ui.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-resource.js"></script>
    
    <script type="text/javascript" src="app/lib/bootstrap/ui-bootstrap-custom-0.7.0.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/common/services.js"></script>
    <script type="text/javascript" src="app/common/imageupload.js"></script>
    <script type="text/javascript" src="app/common/matches.js"></script>
    <script type="text/javascript" src="app/common/players.js"></script>
    <script type="text/javascript" src="app/common/teams.js"></script>
    <script type="text/javascript" src="app/common/games.js"></script>

    <!-- Modules -->
    <script type="text/javascript" src="app/menu/main-menu.js"></script>
    <script type="text/javascript" src="app/home/home.js"></script>
    <script type="text/javascript" src="app/games/game-category.js"></script>
    <script type="text/javascript" src="app/games/game-category-edit.js"></script>
    <script type="text/javascript" src="app/games/game-edit.js"></script>
    <script type="text/javascript" src="app/games/competition-type-list.js"></script>
    <script type="text/javascript" src="app/games/competition-type-add.js"></script>
    <script type="text/javascript" src="app/games/competition-type-edit.js"></script>
    <script type="text/javascript" src="app/games/game-details.js"></script>
    <script type="text/javascript" src="app/games/game-category-details.js"></script>

    <script type="text/javascript" src="app/user/login.js"></script>    
    <script type="text/javascript" src="app/user/register.js"></script>    
    <script type="text/javascript" src="app/user/user-status.js"></script>
    <script type="text/javascript" src="app/user/user-profile.js"></script>
    <script type="text/javascript" src="app/user/user-public-profile.js"></script>
    <script type="text/javascript" src="app/competition/competitors-list.js"></script>    
    <script type="text/javascript" src="app/competition/player-add.js"></script>
    <script type="text/javascript" src="app/competition/player-edit.js"></script>
    <script type="text/javascript" src="app/competition/team-add.js"></script>
    <script type="text/javascript" src="app/competition/team-edit.js"></script>
    <script type="text/javascript" src="app/competition/match-add.js"></script>
    <script type="text/javascript" src="app/competition/match-list.js"></script>
    <script type="text/javascript" src="app/competition/player-profile.js"></script>
    <script type="text/javascript" src="app/competition/team-profile.js"></script>

    <script type="text/javascript" src="app/security/security-service.js"></script>    
    <script type="text/javascript" src="app/security/interceptor.js"></script>
    <script type="text/javascript" src="app/security/retry-queue.js"></script>
    <script type="text/javascript" src="app/security/security-authorization.js"></script>


<!-- javascript -->

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write("<script src='content/assets/scripts/main/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script type="text/javascript" src="content/assets/scripts/main/default.js"></script>*@

<!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

</body>
</html>

