@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Playground</title>
    @Styles.Render("~/Content/css")

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-ng-app="Playground" role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Playground</a>
        </div>
        <div class="navbar-collapse collapse" 
            data-ng-include="'app/templates/menu/main-menu.tpl.html'" 
            data-ng-controller="MainMenuController">

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">
    <!-- #main -->
    <section  data-ui-view="">

	</section>
    <hr />
	<footer >
		<p>Playground &#169; 2013-2014</p>
	</footer>
    </div> <!-- /container -->

    <!-- SCRIPTS -->    
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

    <script type="text/javascript" src="app/lib/jQuery/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="app/lib/jQuery/jquery.signalR-2.0.1.js"></script>
    <script type="text/javascript" src="signalr/hubs"></script>
    <script type="text/javascript" src="app/lib/jQuery/jquery.Jcrop.js"></script>
    <script type="text/javascript" src="app/lib/jQuery/jquery.color.js"></script>

    <script type="text/javascript" src="app/lib/angular/angular.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-ui.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-animate.js"></script>
    
    <script type="text/javascript" src="app/lib/bootstrap/ui-bootstrap-custom-0.7.0.js"></script>
    <script type="text/javascript" src="app/lib/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="app/lib/bootstrap/datetimepicker.js"></script>
    <script type="text/javascript" src="app/lib/moment.js"></script>
    <script type="text/javascript" src="app/lib/underscore.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular-google-maps.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/common/services.js"></script>
    <script type="text/javascript" src="app/common/imageupload.js"></script>
    <script type="text/javascript" src="app/common/matches.js"></script>
    <script type="text/javascript" src="app/common/players.js"></script>
    <script type="text/javascript" src="app/common/teams.js"></script>
    <script type="text/javascript" src="app/common/games.js"></script>
    <script type="text/javascript" src="app/common/validation.js"></script>

    <!-- Modules -->
    <script type="text/javascript" src="app/menu/main-menu.js"></script>
    <script type="text/javascript" src="app/home/home.js"></script>
    <script type="text/javascript" src="app/playground/playground-list.js"></script>
    <script type="text/javascript" src="app/playground/playground-add.js"></script>
    <script type="text/javascript" src="app/games/game-category.js"></script>
    <script type="text/javascript" src="app/games/game-category-edit.js"></script>
    <script type="text/javascript" src="app/games/game-edit.js"></script>
    <script type="text/javascript" src="app/games/competition-type.validation.js"></script>
    <script type="text/javascript" src="app/games/competition-type-list.js"></script>
    <script type="text/javascript" src="app/games/competition-type-add.js"></script>
    <script type="text/javascript" src="app/games/competition-type-edit.js"></script>
    <script type="text/javascript" src="app/games/game-details.js"></script>
    <script type="text/javascript" src="app/games/game-category-details.js"></script>

    <script type="text/javascript" src="app/user/login.js"></script>    
    <script type="text/javascript" src="app/user/login-external.js"></script>    
    <script type="text/javascript" src="app/user/register.js"></script>    
    <script type="text/javascript" src="app/user/register-external.js"></script>    
    <script type="text/javascript" src="app/user/user-list.js"></script>
    <script type="text/javascript" src="app/user/user-status.js"></script>
    <script type="text/javascript" src="app/user/user-profile.js"></script>
    <script type="text/javascript" src="app/user/user-public-profile.js"></script>
    <script type="text/javascript" src="app/competition/competitors-list.js"></script>    
    <script type="text/javascript" src="app/competition/player-add.js"></script>
    <script type="text/javascript" src="app/competition/player-edit.js"></script>
    <script type="text/javascript" src="app/competition/team-add.js"></script>
    <script type="text/javascript" src="app/competition/team-edit.js"></script>
    <script type="text/javascript" src="app/competition/match-add.js"></script>
    <script type="text/javascript" src="app/competition/match-list.js"></script>
    <script type="text/javascript" src="app/competition/player-profile.js"></script>
    <script type="text/javascript" src="app/competition/team-profile.js"></script>

    <script type="text/javascript" src="app/security/security-service.js"></script>    
    <script type="text/javascript" src="app/security/interceptor.js"></script>
    <script type="text/javascript" src="app/security/security-authorization.js"></script>


<!-- javascript -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
