<div class="page-header">
    <h1>{{pageTitle}}</h1>
</div>
<div class="row">
    <div class="span6">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="logo">logo</label>
                <div class="controls">
                    <image-upload 
                        data-object-id="team.competitorID"
                        data-img-src="team.pictureUrl"
                        data-upload-url="api/user/uploadteampicture"
                        data-crop-url="api/user/cropteampicture"
                        data-on-image-cropped="onImageCropped(data);"
                        />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Team nick</label>
                <div class="controls">
                    <input type="text" data-ng-model="team.name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Game category</label>
                <div class="controls">
                    <input type="text" 
                        data-ng-model="team.games[0].game.category.title"
                        data-ng-disabled="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">My pleya</label>
                <div class="controls">
                    <input type="text" data-ng-model="myplayer.name" data-ng-disabled="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Games</label>
                <div class="controls" data-ng-repeat="gamecompetitor in team.games">
                    <label>
                        <input 
                            type="checkbox" 
                            value="gamecompetitor.game.gameid" 
                            data-ng-checked="gamecompetitor.selected"
                            data-ng-click="gamecompetitor.selected = !gamecompetitor.selected"/> 
                        {{gamecompetitor.game.title}} 
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn" data-ng-click="updateTeam()">Save</button>
                    <button class="btn" data-ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </form>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="span6">
        <span data-ng-show="players.length > 0">
            Team members
        </span>
        <table class="table">
            <tr data-ng-repeat="teamPlayer in players">
                <td data-ng-bind="teamPlayer.player | playeruserfull"></td>
                <td data-ng-bind="teamPlayer.player.name"></td>
                <td>
                    <button class="btn btn-primary" 
                        data-ng-show="teamPlayer.playerID != myplayer.competitorID"
                        data-ng-click="removePlayer(teamPlayer, $index)">remove</button>
                </td>
            </tr>
        </table>
        <form class="form-inline"
              data-ng-show="players.length > 0">
            <input type="text" data-ng-model="searchQuery" placeholder="Search players">
            <button class="btn" data-ng-click="searchPlayers()">Search</button>
        </form>
        <span data-ng-show="availablePlayers.length > 0">
            Results
        </span>
        <table class="table">
            <tr data-ng-repeat="player in availablePlayers">
                <td data-ng-bind="player | playeruserfull"></td>
                <td data-ng-bind="player.name"></td>
                <td>
                    <button class="btn btn-primary" data-ng-click="addPlayer(player, $index)">add</button>
                </td>
            </tr>
        </table>
    </div>
<!--    <div class="span12">
        <pre>{{team | json}}</pre>
    </div>-->
</div>
