/*----------  footer
------------------------------------------------------------------------------*/

.footer {
	background: $green;
	min-height: 100px;
	width: 100%;
	overflow: hidden;
	h1 {
		margin-top: 35px;
	}
}